@tailwind base;
@tailwind components;
@tailwind utilities;
 




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-hidden w-screen h-screen;
  }
}

@layer utilities {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
      .no-scrollbar {
          scrollbar-width: none;  /* Firefox */
    }
  }



  .move-down {
    animation: moveDown 20s ease-in-out;
  }

  @keyframes moveDown {
    0% {
      transform: translateY(0);
    }
    0.5% {
      transform: translateY(10px); /* Adjust for desired movement */
    }
    100% {
      transform: translateY(10px); /* Adjust for desired movement */
    }
  }

  @keyframes moveDownOne {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(150%);
    }
  }

  .animate-moveDownOne {
    animation: moveDownOne 4s ease-in-out infinite;
  }

  @keyframes moveUpOne {
    0%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(75%);
    }
    50% {
      transform: translateY(150%);
    }
    75% {
      transform: translateY(75%);
    }
  }

  .animate-moveUpOne {
    animation: moveUpOne 4s ease-in-out infinite;
  }
  @keyframes moveArround {
    0%,
    100% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(1500%) translateY(700%);
    }
    50% {
      transform: translateX(0%) translateY(1400%);
    }
    75% {
      transform: translateX(1500%) translateY(700%);
    }
  }
  .animate-moveArround {
    animation: moveArround 4s linear infinite;
  }

  @keyframes moveUpLeft {
    0%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(50%);
    }
    50% {
      transform: translateY(33%);
    }
    75% {
      transform: translateY(20%);
    }
  }

  .animate-moveUpLeft {
    animation: moveUpLeft 4s ease-in-out infinite;
  }

  @keyframes moveUpRight {
    0%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(50%);
    }
    50% {
      transform: translateY(50%);
    }
    75% {
      transform: translateY(50%);
    }
  }

  .animate-moveUpRight {
    animation: moveUpRight 4s ease-in-out infinite;
  }

  @keyframes moveDownLeft {
    0%,
    100% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(75%);
    }
    75% {
      transform: translateY(50%);
    }
  }

  .animate-moveDownLeft {
    animation: moveDownLeft 4s ease-in-out infinite;
  }

  @keyframes moveDownRight {
    0%,
    100% {
      transform: translateY(100%);
    }
    33% {
      transform: translateY(50%);
    }
    50% {
      transform: translateY(75%);
    }
    75% {
      transform: translateY(50%);
    }
  }

  .animate-moveDownRight {
    animation: moveDownRight 4s ease-in-out infinite;
  }

  @keyframes moveArround {
    0%,
    100% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(1500%) translateY(700%);
    }
    50% {
      transform: translateX(0%) translateY(1400%);
    }
    54% {
      transform: translateX(300%) translateY(1650%);
    }
    75% {
      transform: translateX(1500%) translateY(700%);
    }
  }
  .animate-moveArround {
    animation: moveArround 4s linear infinite;
  }

  @keyframes moveLeft {
    0% {
      transform: translateY(0) translateX(0);
    }
    1% {
      transform: translateY(0) translateX(0);
    }
    2.5% {
      transform: translateY(230%) translateX(70%);
    }
    10.0% {
      transform: translateY(230%) translateX(70%);
    }
    100% {
      transform: translateY(230%) translateX(70%);
    }
  }

  .animate-moveLeft {
    animation: moveLeft 30s ease-in-out;
  }

  @keyframes moveRight {
    0% {
      transform: translateY(0) translateX(0);
    }
    1% {
      transform: translateY(0) translateX(0);
    }
    2.5% {
      transform: translateY(-230%) translateX(-70%);
    }
    5.0% {
      transform: translateY(-250%) translateX(-315%);
    }
    7.5% {
      transform: translateY(-250%) translateX(-315%) scale(3);
    }
    100% {
      transform: translateY(-250%) translateX(-315%) scale(3);
    }
  }

  .animate-moveRight {
    animation: moveRight 30s ease-in-out;
  }

  @keyframes crown {
    0% {
      transform: translateY(0);
    }
    1% {
      transform: translateY(0);
    }
    5.0% {
      transform: translateY(0);
    }
    7.5% {
      transform: translateY(-201%) scale(2);
    }
    8.0% {
      transform: translateY(-150%) scale(2);
    }
    8.5% {
      transform: translateY(-201%) scale(2);
    }
    9.0% {
      transform: translateY(-150%) scale(2);
    }
    9.5% {
      transform: translateY(-201%) scale(2);
    }
    10.0% {
      transform: translateY(-150%) scale(2);
    }
    100% {
      transform: translateY(-150%) scale(2);
    }
  }

  .animate-crown {
    animation: crown 30s ease-in-out;
  }

  @keyframes moveDownTournament {
    0% {
      transform: translateY(0);
    }
    1% {
      transform: translateY(130%);
    }
    100% {
      transform: translateY(130%);
    }
  }

  .animate-moveDownTournament {
    animation: moveDownTournament 30s ease-in-out;
  }



  @keyframes getBigger {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.animate-getBigger {
    animation: getBigger 0.7s ease-in-out forwards;
}


  
@keyframes sckeliton {
	from {
		background-position: 40% 0;
	}
    to {
		background-position: -160% 0;
    }
}

@keyframes sckeliton2 {
  from {
    background-position: -140% 0;
  }
    to {
    background-position: 60% 0;
    }
}

.sckeliton2 {
  background-image: linear-gradient(270deg, rgb(239 68 68 / var(--tw-bg-opacity)), hsl(300, 0%, 20%), hsl(300, 0%, 20%),hsl(300, 0%, 20%),hsl(300, 0%, 20%),hsl(300, 0%, 20%), rgb(239 68 68 / var(--tw-bg-opacity)));
	background-size: 200% 200%;
  background-position: -140% 0;
	animation: sckeliton2 2s ease-in-out infinite;
}






.sckeliton {
  background-image: linear-gradient(270deg, rgb(59 130 246 / var(--tw-bg-opacity)) , hsl(300, 0%, 20%), hsl(300, 0%, 20%),hsl(300, 0%, 20%),hsl(300, 0%, 20%),hsl(300, 0%, 20%), rgb(59 130 246 / var(--tw-bg-opacity)) );
	background-size: 200% 200%;
  background-position: 50% 0;
	animation: sckeliton 2s ease-in-out infinite;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.feedBot div {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.feedRight div {
  opacity: 0;
  animation: fadeRight 0.5s ease forwards;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.feedLeft div {
  opacity: 0;
  animation: fadeLeft 0.5s ease forwards;
}